/* FONDOS */
.bg-white {
  background-color: white;
  height: 530px;
  max-height: 100%;
  max-width: 100%;
  margin: 3% 0;
  display: inline-block;
  padding: 10px 15px; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 530px;
  max-height: 100%; }

.modulo-alto {
  min-height: 100vh;
  text-align: center; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7);
  height: 530px;
  max-height: 100%;
  max-width: 100%; }

.bg-foto {
  background-image: url(../img/1065211_10200946094110072_405977794_o.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
  max-height: 100%;
  max-width: 100%;
  margin: 1% 0; }

.bg-habilidades {
  background-image: url(../img/php-code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
  max-height: 100%;
  max-width: 100%; }

.imgfooter {
  background-image: url(../img/1233969_10201366418417917_506639273_n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
  max-height: 100%;
  max-width: 100%; }

.dp-table {
  display: inline-table; }

/* FONDOS */
/* TITULOS */
.title {
  font-family: 'Indie Flower', cursive;
  color: whitesmoke; }

.proyect {
  font-family: 'Indie Flower', cursive;
  color: black;
  text-decoration: none; }
  .proyect :hover {
    text-decoration: none;
    font-style: italic;
    color: #8A8A8A; }

.about {
  font-family: 'Indie Flower', cursive;
  color: black;
  margin: 1% 0; }

.title1 {
  color: whitesmoke;
  font-family: 'Indie Flower', cursive;
  padding-top: 10%;
  width: 100%; }

.title2 {
  color: whitesmoke;
  font-style: italic;
  font-family: 'Slabo 27px', serif;
  width: 100%; }

.text1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 8%; }

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-right: 8%; }

/* TITULOS */
.mg-l {
  margin-left: 3%; }

/* imgenes */
.foto {
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin: 0 auto; }

/* HABILIDADES */
.habil {
  background-color: rgba(97, 97, 98, 0.9);
  width: 170px;
  height: 170px;
  margin: 1% 5%;
  border-radius: 10px; }
  .habil :hover {
    background-color: rgba(145, 145, 145, 0.5);
    padding: 2%;
    border-radius: 50%; }

.logos {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 8%; }

/* HABILIDADES */
.logo {
  max-width: 273px;
  width: 150%; }

/* imgenes */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

header {
  height: 64px; }

.slider {
  height: 500px; }

#sidenav-overlay {
  position: relative; }

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #939393; }
  nav :hover {
    color: black; }

.work {
  height: 300px;
  max-height: 100%;
  margin: 3% 0;
  opacity: 0.7; }
  .work :hover {
    opacity: 1; }

.carousel .carousel-item img {
  width: auto;
  opacity: 0.7;
  margin-bottom: 3%; }
  .carousel .carousel-item img :hover {
    opacity: 1; }

#proyectos {
  margin-bottom: 3%; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
